<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>HW12ServletFinal</display-name>
  <servlet>
    <servlet-name>Buy</servlet-name>
    <servlet-class>PartFirst.BuyTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buy</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>f1</filter-name>
    <filter-class>PartFirst.flightNumberfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>f1</filter-name>
    <url-pattern>/order</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>PartFirst.DeleteTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/del</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>f2</filter-name>
    <filter-class>PartFirst.TicketIDFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>f2</filter-name>
    <url-pattern>/del</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>show</servlet-name>
    <servlet-class>PartFirst.ShowTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>show</servlet-name>
    <url-pattern>/see</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>f3</filter-name>
    <filter-class>PartFirst.TicketIDFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>f3</filter-name>
    <url-pattern>/see</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>change</servlet-name>
    <servlet-class>PartFirst.ChangeTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>change</servlet-name>
    <url-pattern>/revise</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>f4</filter-name>
    <filter-class>PartFirst.TicketIDChangeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>f4</filter-name>
    <url-pattern>/revise</url-pattern>
  </filter-mapping>  
</web-app>